@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./components/fonts/stylesheet.css");

@layer base {
  html {
    @apply font-sans;
  }

  body{@apply text-[17px];}
  .img-skewed-start {
    perspective-origin: 0;
  }
  .img-skewed {
    perspective: 1500px;
    transform-style: preserve-3d;
  }
  .img-skewed-start .img-skewed-item {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(-35deg) rotateX(15deg);
  }
}
